@using DuruOnlineStore.Data.Entities.Identities
@using Microsoft.AspNetCore.Identity
@model ProductItemViewModel
@inject SignInManager<AppUser> _SignInManager

<div class="product">
    <div class="product-img">
        <img src="@Model.ImageUrl" alt="">
        <div class="product-label">
            @if (Model.DiscountRate.HasValue)
            {
                <span class="sale">-@Model.DiscountRate%</span>
            }
            @if (Model.IsNew)
            {
                <span class="new">YENİ</span>
            }
        </div>
    </div>
    <div class="product-body">
        <p class="product-category">@Model.Category</p>
        <h3 class="product-name">
            <a href="/Products/Details/@Model.Id">
                <span class="product-name">@Model.Name<span class="tooltipp">@Model.Name</span></span>
            </a></h3>
        <h4 class="product-price">₺@Model.FinalPrice <del class="product-old-price">₺@Model.Price</del></h4>
        <div class="product-rating"></div>
        <div class="product-btns">
            @if (!_SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="Login" method="get">
                    <button type="submit" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                </form>
                <form asp-controller="Account" asp-action="Login" method="get">
                    <button type="submit" class="add-to-cart-btn add-cart"><i class="fa fa-shopping-cart"></i><span class="tooltipp">Sepete Ekle</span></button>
                </form>
            }
            else
            {
                <form><button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button></form>
                <form><button class="add-to-cart-btn add-cart" data-productid="@Model.Id"><i class="fa fa-shopping-cart"></i><span class="tooltipp">Sepete Ekle</span></button></form>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var productName = document.querySelector('.product .product-body .product-name');

            if (productName) {
                productName.addEventListener('mousemove', function (e) {
                    var tooltip = this.querySelector('.tooltipp');
                    if (tooltip) {
                        tooltip.style.left = e.pageX + 'px';
                        tooltip.style.top = e.pageY + 'px';
                    }
                });
            }
        });
    </script>
}
